<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Contact List (Can only delete if Admin)</h3>
        </div>
        <div class="panel-body">
            <p class="alert alert-success"
               ng-if="isAdmin">
                Logged In as Admin
            </p>
            <p class="alert alert-success"
               ng-if="!isAdmin"> 
                Logged In as User
            </p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contact in cont.contacts">
                        <td>{{contact.firstname}}</td>
                        <td>{{contact.lastname}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phone}}</td>
                        <td>
                            <a class="btn btn-danger" 
                               ng-click="cont.delete(contact.id)">
                                Del
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button class="btn btn-warning"
                    ng-click="cont.logout()">
                Logout
            </button>
            <p class="alert alert-danger" 
               ng-if="cont.delerror">
                <strong>Error:</strong> 
                {{cont.delerror}}
            </p>
        </div>
    </div>
</div>